.App {
  text-align: center;
}

.phone-picture {
  width: 220px;
  object-fit: contain;
}

.phone-container {
  background-color: white;
  width: 300px;
  border-radius: 12px;
  overflow: hidden;
  padding: 20px;
  box-shadow: rgb(0 0 0 / 24%) 1px 2px 13px;
}

.phone-name {
  padding: 16px;
  margin-bottom: 0px;
  /* font-weight: bold; */
}

.phone-company {
  /* padding: 16px; */
  color: grey;
  /* font-weight: bold; */
  margin-top: 0px;
}

body {
  background-color: whitesmoke;
  font-family: Roboto;
  margin: 16px;
}

.phone-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin: 24px;
}

.container{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 200px auto;
}

.input{
  margin-top: 5px;
}
